<section>
	<div class="bottom-slider">
		<div class="bottom-slider-item"><img src="../../img/layer-68.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-32.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-31.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-21.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-22.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-23.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-24.png" alt="" ></div>
		<div class="bottom-slider-item"><img src="../../img/layer-26.png" alt="" ></div>
	</div>
</section> 	