  <!--Footer section-->
  <footer class="footer">


    <!--Widgets section-->
    <section class="epilogue">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 pages">
            <h2 class="header">pages widget</h2>
            <div class="panel-group" id="pages-widget" role="tablist" aria-multiselectable="true">
              <!--Home-->
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    home
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHome" aria-expanded="true" class="pull-right">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseHome" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul class="cpllapse-menu">
                      <li><a href="#">Home1</a></li>
                      <li><a href="#">Home2</a></li>
                      <li><a href="#">Home3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--Pages-->
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    pages
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePages" aria-expanded="true" class="pull-right">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapsePages" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <ul class="cpllapse-menu">
                      <li><a href="#">Pages1</a></li>
                      <li><a href="#">Pages2</a></li>
                      <li><a href="#">Pages3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--Portfolio-->
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    Portfolio
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePortfolio" aria-expanded="true" class="pull-right">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapsePortfolio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <ul class="cpllapse-menu">
                      <li><a href="#">Portfolio1</a></li>
                      <li><a href="#">Portfolio2</a></li>
                      <li><a href="#">Portfolio3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--Blog-->
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    Blog
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBlog" aria-expanded="true" class="pull-right">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseBlog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <ul class="cpllapse-menu">
                      <li><a href="#">Blog1</a></li>
                      <li><a href="#">Blog2</a></li>
                      <li><a href="#">Blog3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--Shop-->
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    Shop
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseShop" aria-expanded="true" class="pull-right">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseShop" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    <ul class="cpllapse-menu">
                      <li><a href="#">Shop1</a></li>
                      <li><a href="#">Shop2</a></li>
                      <li><a href="#">Shop3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Twitter widget and solial links-->
          <div class="col-sm-6 social col-lg-3">
            <!--<div class="tweets">
              <h2 class="header">Twitter Widget</h2>
              <a class="twitter-timeline" data-width="262" data-height="255" href="https://twitter.com/TwitterDev">Tweets by TwitterDev</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>-->
            <div class="social-icons">
              <h2 class="header">Social Widget</h2>
              <ul class="social-list">
                <li>
                  <a href="#"><img src="img/facebook.png" alt="facebook"></a>
                </li>
                <li>
                  <a href="#"><img src="img/twitter.png" alt="twitter"></a>
                </li>
                <li>
                  <a href="#"><img src="img/vk.png" alt="vk"></a>
                </li>
                <li>
                  <a href="#"><img src="img/dribbble.png" alt="dribble"></a>
                </li>
                <li>
                  <a href="#"><img src="img/pinterest.png" alt="pinterest"></a>
                </li>
                <li>
                  <a href="#"><img src="img/tumblr.png" alt="tumblr"></a>
                </li>
              </ul>
            </div>
          </div>

          <!--Ficklr widget-->
          <div class="col-sm-6 col-lg-3 flickr">
            <h2 class="header">flickr widget</h2>
            <div class="photos">
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/33890918334/" title="Photo"><img src="https://c1.staticflickr.com/5/4176/33890918334_d09bd89d00_s.jpg" width="75" height="75" alt="Photo"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/33890918334/" title="Photo"><img src="https://c1.staticflickr.com/5/4176/33890918334_d09bd89d00_s.jpg" width="75" height="75" alt="Photo"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/33890918334/" title="Photo"><img src="https://c1.staticflickr.com/5/4176/33890918334_d09bd89d00_s.jpg" width="75" height="75" alt="Photo"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/34669343735/in/photostream/" title=". 🚘🚘🚘@mariagonz_🚘🚘🚘 . Edit: #Langsat - @freshfruitfilm . #photoshoot #shooting #portrait #retrato #black #forest #amazing #awesome #nic"><img src="https://c1.staticflickr.com/5/4176/34669343735_df77e18268_s.jpg" width="75" height="75" alt=". 🚘🚘🚘@mariagonz_🚘🚘🚘 . Edit: #Langsat - @freshfruitfilm . #photoshoot #shooting #portrait #retrato #black #forest #amazing #awesome #nic"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/34669343735/in/photostream/" title=". 🚘🚘🚘@mariagonz_🚘🚘🚘 . Edit: #Langsat - @freshfruitfilm . #photoshoot #shooting #portrait #retrato #black #forest #amazing #awesome #nic"><img src="https://c1.staticflickr.com/5/4176/34669343735_df77e18268_s.jpg" width="75" height="75" alt=". 🚘🚘🚘@mariagonz_🚘🚘🚘 . Edit: #Langsat - @freshfruitfilm . #photoshoot #shooting #portrait #retrato #black #forest #amazing #awesome #nic"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/34669343735/in/photostream/" title=". 🚘🚘🚘@mariagonz_🚘🚘🚘 . Edit: #Langsat - @freshfruitfilm . #photoshoot #shooting #portrait #retrato #black #forest #amazing #awesome #nic"><img src="https://c1.staticflickr.com/5/4176/34669343735_df77e18268_s.jpg" width="75" height="75" alt=". 🚘🚘🚘@mariagonz_🚘🚘🚘 . Edit: #Langsat - @freshfruitfilm . #photoshoot #shooting #portrait #retrato #black #forest #amazing #awesome #nic"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/33879563184/in/photolist-UUcaRt-TygXdj-UFRoCi-UQoCsh-TBPBMJ-UPRCT9-UDYfZG-UisL6q-UGGwY8-UoXoQo-UGjYcD-UR9s9T-UgoSk9-U7gYff-UwJDSf-UHtip9-Ty11zv-TyXgEG-UFSE1L-UFRpKt-UctD6h-TxtpXf-U9p26J-TxEeBc-UwN1jG-Uc3E1o-UBfN2s-UMYGue-UKJoQB-TBQZFF-UEMWFA-UMYGdc-UG4bfU-UFRoKH-UQRtXY-TuCaN3-TtMKbx-UgSx59-UBjCZq-Tt3N6M-TtMM5x-U3otUs-U5LC5Z-TV2dTZ-TyXhjN-UDSCQX-Uc2nYf-UAo6KK-TyqGwM-TxWVu6"
                title="Photo"><img src="https://c1.staticflickr.com/5/4164/33879563184_eeafbaacc4_s.jpg" width="75" height="75" alt="Photo"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/33879563184/in/photolist-UUcaRt-TygXdj-UFRoCi-UQoCsh-TBPBMJ-UPRCT9-UDYfZG-UisL6q-UGGwY8-UoXoQo-UGjYcD-UR9s9T-UgoSk9-U7gYff-UwJDSf-UHtip9-Ty11zv-TyXgEG-UFSE1L-UFRpKt-UctD6h-TxtpXf-U9p26J-TxEeBc-UwN1jG-Uc3E1o-UBfN2s-UMYGue-UKJoQB-TBQZFF-UEMWFA-UMYGdc-UG4bfU-UFRoKH-UQRtXY-TuCaN3-TtMKbx-UgSx59-UBjCZq-Tt3N6M-TtMM5x-U3otUs-U5LC5Z-TV2dTZ-TyXhjN-UDSCQX-Uc2nYf-UAo6KK-TyqGwM-TxWVu6"
                title="Photo"><img src="https://c1.staticflickr.com/5/4164/33879563184_eeafbaacc4_s.jpg" width="75" height="75" alt="Photo"></a>
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/54016566@N06/33879563184/in/photolist-UUcaRt-TygXdj-UFRoCi-UQoCsh-TBPBMJ-UPRCT9-UDYfZG-UisL6q-UGGwY8-UoXoQo-UGjYcD-UR9s9T-UgoSk9-U7gYff-UwJDSf-UHtip9-Ty11zv-TyXgEG-UFSE1L-UFRpKt-UctD6h-TxtpXf-U9p26J-TxEeBc-UwN1jG-Uc3E1o-UBfN2s-UMYGue-UKJoQB-TBQZFF-UEMWFA-UMYGdc-UG4bfU-UFRoKH-UQRtXY-TuCaN3-TtMKbx-UgSx59-UBjCZq-Tt3N6M-TtMM5x-U3otUs-U5LC5Z-TV2dTZ-TyXhjN-UDSCQX-Uc2nYf-UAo6KK-TyqGwM-TxWVu6"
                title="Photo"><img src="https://c1.staticflickr.com/5/4164/33879563184_eeafbaacc4_s.jpg" width="75" height="75" alt="Photo"></a>
              <script async src="https://embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 news">
            <h2 class="header">news letter</h2>
            <form action="#" method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="4" placeholder="Message"></textarea>
              </div>
            </form>
            <button class="btn">subscribe</button>
          </div>
        </div>
      </div>
    </section>

    <section class="copyright">
      Copyright &copy; 2017
    </section>
  </footer>
  <!--End footer-->