<header class="header">
    <div class="top-slider">
        <div class="top-slider-elem"><img src="../../img/layer-66.jpg" alt=""></div>
        <div class="top-slider-elem"><img src="../../img/people-q-c-1920-800-2.jpg" alt=""></div>
        <div class="top-slider-elem"><img src="../../img/people-q-c-1920-800-3.jpg" alt=""></div>
        <div class="top-slider-elem"><img src="../../img/people-q-c-1920-800-4.jpg" alt=""></div>
        <div class="top-slider-elem"><img src="../../img/people-q-c-1920-800-9.jpg" alt=""></div>
    </div>
    <div class="container">
        <div class="header-main-content">
            <div class="logo">
                <a href="#"><img src="../../img/logo.png" alt=""></a>
            </div>
            <div class="main-nav">
                <nav>
                    <a href="#">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#">Portfolio <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#">Portfolio <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#">components <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#"> </a>
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i> |</a>
                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>| </a>
                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </nav>
            </div>
        </div>
        <div class="main-title">
            <h3 class="pre-title">inspiration</h3>
            <h1 class="super-title">5 Ways milllennials can start </br>
building their future today</h1>
            <a class="reed-btn" href="">read more</a>
        </div>
    </div>
</header>
