
    <div class="main-blog">
        <div class="first-content-item">
            <iframe width="820" height="420" src="https://www.youtube.com/embed/vlDzYIIOYmM" frameborder="0" allowfullscreen></iframe>
            <h3 class="content-header">10 Things To Do To Change Your Life Forever</h3>
            <p class="content-text">The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.</p>
            <hr>
            <div class="pseudo clearfix">
                <img src="../../img/photo.png" alt="" class="avatar ">
                <p class="name">Henry Little</p>
                <p class="date">Apri 28, 2016 10:15</p>
                <div class="dots">
                    <i class="fa fa-ellipsis-v " aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="horizontal-elem">
            <div class="media-content">
                <iframe width="260" height="165" src="https://www.youtube.com/embed/A3PDXmYoF5U" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3 class="content-header">4 Natural Ways To Have Young Skin</h3>
            <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
            <hr>
            <div class="pseudo clearfix">
                <img src="../../img/photo1.png" alt="" class="avatar ">
                <p class="name">James Leman</p>
                <p class="date">Apri 28, 2016 10:15</p>
                <div class="dots">
                    <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="horizontal-elem">
            <div class="media-content">
                <img src="../../img/layer-47.png" alt="">
            </div>
            <h3 class="content-header">Six Hobbies That Can Help You Beat Stress</h3>
            <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
            <hr>
            <div class="pseudo clearfix">
                <img src="../../img/photo2.png" alt="" class="avatar ">
                <p class="name">James Leman</p>
                <p class="date">Apri 28, 2016 10:15</p>
                <div class="dots">
                    <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="horizontal-elem">
            <div class="media-content">
                <img src="../../img/layer-48.png" alt="">
            </div>
            <h3 class="content-header">10 Singals From Your Body Telling You Should Sleep </h3>
            <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
            <hr>
            <div class="pseudo clearfix">
                <img src="../../img/photo3.png" alt="" class="avatar ">
                <p class="name">Benjamin Miller</p>
                <p class="date">Apri 28, 2016 10:15</p>
                <div class="dots">
                    <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="vertical-container">
            <div class="horizontal-elem vertical">
                <div class="media-content">
                    <iframe width="260" height="157" src="https://www.youtube.com/embed/tdwbYGe8pv8" frameborder="0" allowfullscreen></iframe>
                </div>
                <h3 class="content-header">10 Singals From Your Body Telling You Should Sleep</h3>
                <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                <hr>
                <div class="pseudo clearfix">
                    <img src="../../img/photo4.png" alt="" class="avatar ">
                    <p class="name">James Leman</p>
                    <p class="date">Apri 28, 2016 10:15</p>
                    <div class="dots">
                        <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="horizontal-elem vertical">
                <div class="media-content">
                    <img src="../../img/layer-54.png" alt="">
                </div>
                <h3 class="content-header">10 Singals From Your Body Telling You Should Sleep</h3>
                <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                <hr>
                <div class="pseudo clearfix">
                    <img src="../../img/photo5.png" alt="" class="avatar ">
                    <p class="name">Benjamin Miller</p>
                    <p class="date">Apri 28, 2016 10:15</p>
                    <div class="dots">
                        <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="horizontal-elem vertical">
                <div class="media-content">
                    <img src="../../img/layer-55.png" alt="">
                </div>
                <h3 class="content-header">10 Singals From Your Body Telling You Should Sleep</h3>
                <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                <hr>
                <div class="pseudo clearfix">
                    <img src="../../img/photo3.png" alt="" class="avatar ">
                    <p class="name">Benjamin Miller</p>
                    <p class="date">Apri 28, 2016 10:15</p>
                    <div class="dots">
                        <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="vertical-wide">
            <div class="vertical-elem ">
                <div class="media-content">
                    <img src="../../img/layer-61.png" alt="">
                </div>
                <h3 class="content-header">10 Singals From Your Body Telling You Should Sleep</h3>
                <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                <hr>
                <div class="pseudo clearfix">
                    <img src="../../img/photo3.png" alt="" class="avatar ">
                    <p class="name">Benjamin Miller</p>
                    <p class="date">Apri 28, 2016 10:15</p>
                    <div class="dots">
                        <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-wide">
            <div class="vertical-elem ">
                <div class="media-content">
                    <img src="../../img/layer-6.png" alt="">
                </div>
                <h3 class="content-header">10 Singals From Your Body Telling You Should Sleep</h3>
                <p class="content-text">Lorem ipsum dolor sit amet, to consectetur adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                <hr>
                <div class="pseudo clearfix">
                    <img src="../../img/photo3.png" alt="" class="avatar ">
                    <p class="name">Benjamin Miller</p>
                    <p class="date">Apri 28, 2016 10:15</p>
                    <div class="dots">
                        <a href="#"> <i class="fa fa-ellipsis-v " aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-nav">
        	<a href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>

