<section class="pre-header">
	
	<div class="container pre-header__nav">
		<div class="social-nav">
		<nav>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</nav>
		</div>
		<div class="login-btn">
			<a href="#"><i class="fa fa-user" aria-hidden="true"></i> sign in |</a>

			<a href="#"><i class="fa fa-globe" aria-hidden="true"></i> eng</a>

		</div>
	</div>

</section>