<div class="aside">
    <div class="search">
        <input type="search" name="q" placeholder="Search">
        <input type="submit" value="">
        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <div>
        <div class="aside-categories">
            <h4 class="aside-titles">categories</h4>
            <div class="aside-item">
                <p>Photography</p>
                <span>195</span>
            </div>
            <div class="aside-item">
                <p>Illustration</p>
                <span>15</span>
            </div>
            <div class="aside-item">
                <p>Graphic Design</p>
                <span>36</span>
            </div>
            <div class="aside-item">
                <p>Web design</p>
                <span>220</span>
            </div>
            <div class="aside-item">
                <p>Videography</p>
                <span>17</span>
            </div>
        </div>
    </div>
    <div>
        <div class="aside-categories">
            <h4 class="aside-titles">subcribe </h4>
            <div class="aside-item-name">
                <p>NAME</p>
                <input type="text" name="1" placeholder="Igor Ten">
            </div>
            <div class="aside-item-name">
                <p>Email</p>
                <input type="text" name="1" placeholder="Email@adress.com">
            </div>
        </div>
        <div class="btn-subscribe">
            <a href="#">SUBSCRIBE</a>
        </div>
    </div>
    <div class="aside-cat hotfix_width">
        <div class="aside-categories">
            <h4 class="aside-titles">tab post widget </h4>
            <div >
                <div class="btn-post"><a href="#">recent post</a></div>
                <div class="btn-post inverce-color"><a href="#">popular post</a></div>
            </div>
        </div>
    </div>
    <div class="popular-post">
        <img src="../../img/layer-65.png" alt="" class="media-sm"></img>
        <p class="date">April 28, 2016</p>
        <span class="title-post">Duis commodo elit sed nisi molestie</span>
    </div>
    <div class="popular-post">
        <img src="../../img/layer-62.png" alt="" class="media-sm"></img>
        <p class="date">April 28, 2016</p>
        <span class="title-post">Duis commodo elit sed nisi molestie</span>
    </div>
    <div class="popular-post">
        <img src="../../img/layer-46.png" alt="" class="media-sm"></img>
        <p class="date">April 28, 2016</p>
        <span class="title-post">Duis commodo elit sed nisi molestie</span>
    </div>
    <div class="popular-post">
        <img src="../../img/layer-49.png" alt="" class="media-sm"></img>
        <p class="date">April 28, 2016</p>
        <span class="title-post">Duis commodo elit sed nisi molestie</span>
    </div>

        <div class="aside-cat">
        <div class="aside-categories">
            <h4 class="aside-titles">tags</h4>
            	<div class="tag-area">
            	<a href="#"><span class="tag-item">Photography</span></a>
            	<a href="#"><span class="tag-item">Webdesign</span></a>
            	<a href="#"><span class="tag-item">Youtube</span></a>
            	<a href="#"><span class="tag-item">Envato</span></a>
            	<a href="#"><span class="tag-item">Art</span></a>
            	<a href="#"><span class="tag-item">Themefotest</span></a>
            	<a href="#"><span class="tag-item">Illustration</span></a>
            	</div>
        </div>
    </div>

</div>
